################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Generator/.vs/Generator/DesignTimeBuild/.dtbcache.v2
/Generator/.vs/Generator/FileContentIndex
/Generator/.vs/Generator/v17/.futdcache.v2
/Generator/.vs/Generator/v17/.suo
/Generator/.vs/ProjectEvaluation
/Generator/Generator/bin/Debug/net6.0/Output
/Generator/Generator/bin/Debug/net6.0/Generator.pdb
/Generator/Generator/bin/Debug/net6.0/Generator.exe
/Generator/Generator/bin/Debug/net6.0/Generator.dll
/Generator/Generator/bin/Debug/net6.0/ApiSettings.json
/Generator/Generator/obj/Debug/net6.0/Generator.pdb
/Generator/Generator/obj/Debug/net6.0/Generator.genruntimeconfig.cache
/Generator/Generator/obj/Debug/net6.0/Generator.GeneratedMSBuildEditorConfig.editorconfig
/Generator/Generator/obj/Debug/net6.0/Generator.dll
/Generator/Generator/obj/Debug/net6.0/Generator.csproj.FileListAbsolute.txt
/Generator/Generator/obj/Debug/net6.0/Generator.csproj.CoreCompileInputs.cache
/Generator/Generator/obj/Debug/net6.0/Generator.csproj.AssemblyReference.cache
/Generator/Generator/obj/Debug/net6.0/Generator.assets.cache
/Generator/Generator/obj/Debug/net6.0/apphost.exe
/Generator/Generator/obj/project.nuget.cache
/Generator/Generator/obj/project.assets.json
/Generator/Generator/obj/Generator.csproj.nuget.g.props
/Generator/Generator/obj/Generator.csproj.nuget.dgspec.json
/Generator/Generator/ApiSettings.json
